<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link type="text/css" rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="frontPageContainer">
      <button id="movie" class="frontPageButton Movies"></button>
      <button id="music" class="frontPageButton Music"></button>
      <button id="podcast" class="frontPageButton Podcast"></button>
    </div>
    <script type="module" src="./javascript/landing.js"></script>
  </body>
</html>
